/*.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid grey;
    border-radius: 15px;
}*/

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.error {
    color: red;
    margin-left: 10px;
}
