<div style="margin-top: 30px" class="col-12 text-center">
    <h1 class="display-4">Welcome to Our Classified Website</h1>
    <p class="lead">Here you can find all the latest classified ads for buying and selling goods and services. Browse through our categories to find what you're looking for.</p>
</div>