<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - DCD_Store</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/Home/Index">DCD Store</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @{
                        if (!string.IsNullOrEmpty(Context.Request.Cookies["user"]))
                        {
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" asp-action="PostAdd">
                                    <button type="button" class="btn btn-warning">
                                        New Ad
                                    </button>
                                </a>
                            </li>
                        }
                    }
                    </ul>

                    @{
                        if (string.IsNullOrEmpty(Context.Request.Cookies["user"]))
                        {
                            <a asp-action="Login">
                                <button style="margin-left: 10px" type="button" class="btn btn-warning">Login</button>
                            </a>
                        }
                        else
                        {
                            <form class="d-flex input-group w-auto">
                                <input type="search"
                                       class="form-control"
                                       placeholder="Search Product"
                                       aria-label="Search" />
                                <button type="button" class="btn btn-warning">Search</button>
                            </form>
                            <p style="margin: 20px; color: white; font-weight: 500" class="font-italic">Welcome, @Context.Request.Cookies["user"]</p>
                            <a asp-action="Signout">
                                <button style="margin-left: 10px" type="button" class="btn btn-warning">Signout</button>
                            </a>
                        }
                    }
                </div>
        </div>
    </nav>
    @RenderSection("hero", required: false)
    @RenderBody()
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2023. All rights reserved.
        </div>
        <!-- Copyright -->
        <!-- Right -->
        <div>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <!-- Right -->
    </div>
</body>
</html>


