@model List<Add>

<div class="container-fluid">
    @section hero{
        <div class="row" style="margin:10px">
            <div style="margin-top: 30px" class="col-12 text-center">
                <h1 class="display-4">Welcome to Our Classified Website</h1>
                <p class="lead">Here you can find all the latest classified ads for buying and selling goods and services. Browse through our categories to find what you're looking for.</p>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mt-5">Categories</h2>
            <div style="margin: 20px" class="row">
                @{
                    Html.RenderPartial("_Categories", "Outdoor");
                }
                @{
                    Html.RenderPartial("_Categories", "Clothing");
                }
                @{
                    Html.RenderPartial("_Categories", "Electronics");
                }
                @{
                    Html.RenderPartial("_Categories", "Vehicles");
                }
                @{
                    Html.RenderPartial("_Categories", "Sports");
                }
                @{
                    Html.RenderPartial("_Categories", "Others");
                }
            </div>
        </div>
    </div>
    <div style="margin-bottom:75px" class="row">
        <div class="col-12 text-center my-5">
            <h2>Popular Ads</h2>
        </div>
        <div style="margin-bottom: 20px" class="col-12">
            <div class="height d-flex flex-row justify-content-around align-items-center">
                @{

                    Html.RenderPartial("ListAddView", Model);

                }

            </div>
        </div>
    </div>
</div>